<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="769390">  <td>15/12/07 16:18:34</td>   <td>0</td> <td title="&gt;&gt;SeleniumRwdTest.beforeSuite()[pri:0, instance:SeleniumRwdTest@537da7f4]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@562850178</td>   <td></td> </tr>
<tr bgcolor="769390">  <td>15/12/07 16:18:34</td>   <td>151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumRwdTest.openApp()[pri:0, instance:SeleniumRwdTest@537da7f4]">openApp</td> 
  <td>main@562850178</td>   <td></td> </tr>
<tr bgcolor="769390">  <td>15/12/07 16:18:34</td>   <td>171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumRwdTest.testTearDown()[pri:0, instance:SeleniumRwdTest@537da7f4]">testTearDown</td> 
  <td>main@562850178</td>   <td></td> </tr>
</table>
