<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:11:12</td>   <td>0</td> <td title="&gt;&gt;SeleniumRwdTest.beforeSuite()[pri:0, instance:SeleniumRwdTest@6ffb75c7]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@562850178</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:11:12</td>   <td>81</td> <td>&nbsp;</td><td title="&gt;&gt;SeleniumRwdTest.beforeTest(java.lang.String)[pri:0, instance:SeleniumRwdTest@6ffb75c7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@780708558</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:11:12</td>   <td>81</td> <td>&nbsp;</td><td title="&gt;&gt;SeleniumRwdTest.beforeTest(java.lang.String)[pri:0, instance:SeleniumRwdTest@10e8c1cf]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2061666529</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:11:18</td>   <td>6787</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumRwdTest.beforeClass()[pri:0, instance:SeleniumRwdTest@6ffb75c7]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@780708558</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:11:18</td>   <td>6804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumRwdTest.beforeMethod()[pri:0, instance:SeleniumRwdTest@6ffb75c7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@780708558</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:11:18</td>   <td>6804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumRwdTest.openApp()[pri:0, instance:SeleniumRwdTest@6ffb75c7]">openApp</td> 
  <td>TestNG@780708558</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:11:32</td>   <td>19947</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumRwdTest.beforeClass()[pri:0, instance:SeleniumRwdTest@10e8c1cf]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2061666529</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:11:32</td>   <td>19948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumRwdTest.beforeMethod()[pri:0, instance:SeleniumRwdTest@10e8c1cf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2061666529</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:11:32</td>   <td>19949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumRwdTest.openApp()[pri:0, instance:SeleniumRwdTest@10e8c1cf]">openApp</td> 
  <td>TestNG@2061666529</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:11:44</td>   <td>32368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumRwdTest.afterMethod()[pri:0, instance:SeleniumRwdTest@6ffb75c7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@780708558</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:11:44</td>   <td>32388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumRwdTest.beforeMethod()[pri:0, instance:SeleniumRwdTest@6ffb75c7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@780708558</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:11:44</td>   <td>32388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumRwdTest.testTearDown()[pri:0, instance:SeleniumRwdTest@6ffb75c7]">testTearDown</td> 
  <td>TestNG@780708558</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:11:59</td>   <td>47477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumRwdTest.afterMethod()[pri:0, instance:SeleniumRwdTest@6ffb75c7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@780708558</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:11:59</td>   <td>47477</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumRwdTest.afterClass()[pri:0, instance:SeleniumRwdTest@6ffb75c7]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@780708558</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:11:59</td>   <td>47477</td> <td>&nbsp;</td><td title="&lt;&lt;SeleniumRwdTest.afterTest()[pri:0, instance:SeleniumRwdTest@6ffb75c7]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@780708558</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:12:51</td>   <td>99587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumRwdTest.afterMethod()[pri:0, instance:SeleniumRwdTest@10e8c1cf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2061666529</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:12:51</td>   <td>99598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumRwdTest.beforeMethod()[pri:0, instance:SeleniumRwdTest@10e8c1cf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2061666529</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:12:51</td>   <td>99598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumRwdTest.testTearDown()[pri:0, instance:SeleniumRwdTest@10e8c1cf]">testTearDown</td> 
  <td>TestNG@2061666529</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:13:11</td>   <td>119128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumRwdTest.afterMethod()[pri:0, instance:SeleniumRwdTest@10e8c1cf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2061666529</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:13:11</td>   <td>119128</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumRwdTest.afterClass()[pri:0, instance:SeleniumRwdTest@10e8c1cf]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2061666529</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:13:11</td>   <td>119128</td> <td>&nbsp;</td><td title="&lt;&lt;SeleniumRwdTest.afterTest()[pri:0, instance:SeleniumRwdTest@10e8c1cf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2061666529</td>   <td></td> </tr>
<tr bgcolor="6c6482">  <td>15/12/07 16:13:11</td>   <td>119304</td> <td title="&lt;&lt;SeleniumRwdTest.afterSuite()[pri:0, instance:SeleniumRwdTest@6ffb75c7]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@562850178</td>   <td></td> </tr>
</table>
